body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 235, 235);
    height: 100vh; /* align horizontalement et verticalement au milieu*/
    margin: 0;
    font-family: Arial, sans-serif;
    background: rgb(143,144,22);
    background: -moz-radial-gradient(circle, rgba(143,144,22,1) 0%, rgba(23,103,20,1) 25%, rgba(17,108,89,1) 50%, rgba(14,44,97,1) 75%, rgba(8,38,79,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(143,144,22,1) 0%, rgba(23,103,20,1) 25%, rgba(17,108,89,1) 50%, rgba(14,44,97,1) 75%, rgba(8,38,79,1) 100%);
    background: radial-gradient(circle, rgba(143,144,22,1) 0%, rgba(23,103,20,1) 25%, rgba(17,108,89,1) 50%, rgba(14,44,97,1) 75%, rgba(8,38,79,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8f9016",endColorstr="#08264f",GradientType=1); 
}

.calculator-form {
    display: flex;
    width: 310px;
    background-color: rgb(53, 53, 50);
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

#display {
    margin-top: 10px;
    height: 100px;
    border-radius: 20px;
    border: 0;
    margin-bottom: 20px;
    color: black;
    background-color: rgb(255, 255, 255);
    text-align: right;
    font-size: 24px;
}

.pad {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 250px;
}

.operators {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 200px;
}

.operators button {
    background-color: rgb(255, 166, 1);
}
.numpad {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 200px;
}

.del button{
    background-color: rgb(255, 0, 0);
}

button {
    background-color: rgb(145, 141, 141);
    color: white;
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 20px;
    border: 0;
    border-radius: 50%;
}

button:hover {
    background-color: #2dff1277;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 50px;
    margin-left: 50px;
}

a {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
}
a:hover {
    background: #f8f8f8;
    color: #050801;
    box-shadow: 0 0 5px #000000;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
a:nth-child(1) {
    filter: hue-rotate(270deg);
}
a:nth-child(2) {
    filter: hue-rotate(110deg);
}
a span {
    position: absolute;
    display: block;
}
a span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1 {
    0% {
    left: -100%;
    }
    50%,
    100% {
    left: 100%;
    }
}
a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2 {
    0% {
    top: -100%;
    }
    50%,
    100% {
    top: 100%;
    }
}
a span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate3 {
    0% {
    right: -100%;
    }
    50%,
    100% {
    right: 100%;
    }
}
a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4 {
    0% {
    bottom: -100%;
    }
    50%,
    100% {
    bottom: 100%;
    }
}
